//begin footer
+b.FOOTER.footer
    +e.container.container
        ul.row.align-items-center
            li.col-md-2
                SPAN.footer__logo
                    IMG(src='img/content/logo-gray.svg')
                UL
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Контакты
                    li
                        a(href='#') Служба поддержки
                    li
                        a(href='#') Возврат
                    li
                        a(href='#') © ООО «ЛитРес»
            li.col-md-2
                UL
                    li
                        a(href='#') Активировать купон
                    li
                        a(href='#') Публичная оферта 
                    li
                        a(href='#') Политика обработки персональных данных
                    li
                        a(href='#') Согласие на получение рассылки 
                    
            li.col-md-2
                UL
                    li.footer__header
                        a(href='#') Сотрудничество
                    li
                        a(href='#') Издательствам
                    li
                        a(href='#') Авторам
                    li
                        a(href='#') Библиотекам
                    li
                        a(href='#') Партнерам
                    li
                        a(href='#') Вебмастерам
            li.col-md-2
                UL
                    li.footer__header
                        a(href='#') Что почитать?
                    li
                        a(href='#') Бестселлеры
                    li
                        a(href='#') Скоро в продаже
                    li
                        a(href='#') Популярные авторы
                    li
                        a(href='#') Интервью с авторами
                    li
                        a(href='#') ЛитРес: Истории
            li.col-md-2.align-self-start
                UL.footer_soc_icons
                    li.footer__header
                        a(href='#') ЛитРес в соц.сетях
                              
                    li
                        div
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_vk
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_ok
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_fb
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_inst
                        div
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_tw
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_mail
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_dzen
                            a(href='#' target='blank').footer_soc_icon.footer_soc_icon_tg
                    
                    


                        

                

                    

//end footer
