//begin header
+b.HEADER.header
    +e.container.container
        .row
            +e.A.logo.col-md-1
                img(src='img/logo.svg')
            +b.search_and_login.header__search.col-md-9
               +e.inner.row
                +e.FORM.form(action='#').col
                    +e.form-field
                        +e.INPUT.form-input.input_text(placeholder='Книга, серия, автор,жанр, тег, издательство')
                        +e.BUTTON.btn.btn._black
                                span Найти
                +b.user._unreg.col-md-2
                    +e.link
                        +e.A.wrapper(href="#")
                            +e.SPAN.logo-wrapper
                                +e.SPAN.logo
                                    +e.SPAN.avatar
                            +e.SPAN.container Войти
            +e.info.col-md-1.justify-content-center.align-items-center.d-flex
                +b.user-info
                    +e.icon.header__popup_link
                        A(title="Уведомления")
                            +e.SPAN.sticker 1
                +b.user-action
                        +e.A.btn.btn._green
                                .bnt__wrapper
                                    .btn__content Мои книги 
                                        .btn__dropdown
                                            .btn-arrow
                    
                                            




                    
                    

            
            



            

                
        
            