//begin header
+b.HEADER.header
    +e.container.container
        .row.flex-nowrap
            +e.A.logo.col-md-2
                img(src='img/logo.svg')
            +b.search_and_login.header__search.col-md.col-sm-4
               +e.inner.row
                +e.FORM.form(action='#').col.d-none.d-md-flex
                    +e.form-field
                        +e.INPUT.form-input.input_text(placeholder='Книга, серия, автор,жанр, тег, издательство')
                        +e.BUTTON.btn.btn._black
                                span Найти
                +b.user._unreg.col-md-3.d-none.d-md-block
                    +e.link
                        +e.A.wrapper(href="#")
                            +e.SPAN.logo-wrapper
                                +e.SPAN.logo
                                    +e.SPAN.avatar
                            +e.SPAN.container Войти
            +e.info.col-md-2.justify-content-center.align-items-center.d-none.d-xl-flex
                +b.user-info
                    +e.icon.header__popup_link
                        A(title="Уведомления")
                            +e.SPAN.sticker 1
                +b.user-action
                        +e.A.btn.btn._green 
                                .btn__content Мои книги
                                .btn__arrow.dropdown
+b.NAV.nav._header.container-fluid
    +e.inner.row.container
        nav.navbar.navbar-expand-lg.navbar-light
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Жанры
                    li.nav-item
                        a.nav-link(href='#') Новинки
                    li.nav-item
                        a.nav-link(href='#') Популярное
                    li.nav-item
                        a.nav-link(href='#') Аудиокниги
                    li.nav-item
                        a.nav-link(href='#') Что почитать?
                    li.nav-item
                        a.nav-link.promo(href='#') Промокод
                    li.nav-item
                        a.nav-link.more(href='#') Еще
                    li.nav-item
                        a.nav-link(href='#') Компания
                    
                    
               
        


                                        
                                        
                                            




                    
                    

            
            



            

                
        
            